.navbar {
  background-color: #494949;
}
.navbar .navbar-brand,
.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-toggler span {
  color: #ff0000;
}
.j-card {
  background-color: #c1d9f0;
  margin: 10px;
  height: 400px;
}
.j-title {
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  margin: 10px;
  padding: 10px;
}
